{% extends 'base.html' %}

{% block content %}
<body style="background-image: url(../../media/burger.jpg);">
    
<form action="" method="post" id="comment_form" value=" comment_form">
    {% csrf_token%}
   
<center>
    <table style="border-collapse: separate; border-spacing: 1em;color: aliceblue; background-color: rgba(0, 0, 0, 0.534);">
       
        <tr>
            <td><label for="advice">Food Advice</label></td>
            <td><input type="text">{{c_p_add.avice}}</td>
        </tr>
        <td><label for="advice_text">Advice Text</label></td>
        <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
    </tr>
</tr>
<td><label for="date">Date</label></td>
<td><input type="date"></td>
</tr>
      

        <tr>
            <td><label for="post">Select Post</label></td>
            <td>{{c_add.post}}</td>
        </tr>
        <td><label for="choice_text">Choice Text</label></td>
        <td><input type="text" name="choice_text"></td>
    </tr>
    <td><label for="choice_text">votes</label></td>
    <td>{{c_add.vote}}</td>
    <tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-success">Add</button></td>
        </tr>

        

    </table>
</center>
</form>

   
</body>

{% endblock %}
</html>