
{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-image: url(../../media/burger.jpg); color: antiquewhite;background-color: rgba(128, 128, 128, 0.47) ;background-attachment: fixed;">
    
    <h2>{{chat_posts.advice}}</h2>
    <p style="color: wheat;">{{chat_posts.advice_text}}</p>
    {% if comments %}
    <table>
        <tr>
            <td>
               <a href="#" onclick="hidetext()" style="color: wheat;text-decoration: none;"><h3>Comments :</h3></a> 
               
            </td>
            <td>
                <h3>{{comments.count}}</h3>
            </td>
        </tr>
    </table>

<div id="hidediv" style="display: none; color: aliceblue;">
    <ul>
        {% for comment in comments%}
        <li>
            {{comment.author}} - {{comment.comment_text}} {{comment.added_on}}
        </li>
        {% endfor%}

    </ul>
</div>
    {% endif %}
    <h3>
        Add a comment
    </h3>
    <form method="post" action="">
        {% csrf_token %}
        <table style="color: wheat; border-collapse: separate;border-spacing: 1em;">
            <tr>
                <td>

                    <label for="author">Author</label>
                </td>
                <td>

                    <input type="text" name="author">
                </td>
            </tr>
            <tr>
                <td><label for="comment_text">Comment Text</label></td>
           
                <td><textarea name="comment_text" id="" cols="23" rows="10"></textarea></td>
            </tr>
            <tr>
                <td> </td>
                <td> <button type="submit" class="btn btn-success">Comment</button></td>
            </tr>
           
        </table>

       
       


    </form>

{% block javascript %}<script src="../../static/scripts.js"> </script>{% endblock javascript %}
</body>
{% endblock %}
</div>
</html>